<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="taskSessionFactory">
  <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSixDialect</property>
  <property name="hibernate.connection.datasource">java:/jdbc/InternalDB</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.transaction.jta.platform">com.quakearts.webapp.hibernate.appbase.AppBaseJTAPlatform</property>
  <property name="hibernate.transaction.coordinator_class">jta</property>
  <property name="hibernate.default_schema">DBO</property>
  <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
  <mapping class="com.quakearts.reporting.reporttool.model.Report"/>
  <mapping class="com.quakearts.reporting.reporttool.model.ReportColumnConverter"/>
  <mapping class="com.quakearts.reporting.reporttool.model.ReportQuery"/>
  <mapping class="com.quakearts.reporting.reporttool.model.ReportQueryParameter"/>
  <mapping class="com.quakearts.reporting.reporttool.model.RoleReportMapping"/>
  <mapping class="com.quakearts.tools.classloaders.hibernate.JarFile" />
  <mapping class="com.quakearts.tools.classloaders.hibernate.JarFileEntry" />
 </session-factory>
</hibernate-configuration>
